<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>SuitePlus Test</title>

    <script src="../vendors/angular/angular.min.js" ></script>

    <!-- build:js rospogeo-map.js -->
    <script src="module.js" ></script>
    <!-- endbuild -->
    <script>
        app.controller('AppCtrl', function ($scope) {
            console.log($scope);
        });

    </script>

</head>
<body>
    <h1>Configure map: </h1>
    <label for="range-width">width: {{width}}</label>
    <input id="range-width" type="range" data-ng-model="width" min="100" max="1000"/>
    <label for="range-height">height: {{height}}</label>
    <input id="range-height" type="range" data-ng-model="height" min="100" max="1000"/>
    <hr/>
    <map id="rospo" width="{{width}}" height="{{height}}" class="smallmap" lon="10" lat="3" zoom="5">
        <layer type="WMS" name="OpenLayers WMS" url="http://vmap0.tiles.osgeo.org/wms/vmap0">
            <layer-param name="basic" ></layer-param>
        </layer>
        <layer type="Google">
            <layer-param name="STREET"></layer-param>
        </layer>
    </map>
    <br/>
    <hr/>
    <h1>Code to generate this map: </h1>
    <pre>
        <code>
            &lt;map id="rospo" width="100" height="100"&gt;
                &lt;layer type="WMS" name="OpenLayers WMS" url="http://vmap0.tiles.osgeo.org/wms/vmap0"&gt;
                    &lt;layer-param name="basic" &gt;&lt;/layer-param&gt;
                &lt;/layer&gt;
                &lt;layer type="Google"&gt;&lt;/layer&gt;
            &lt;/map>
        </code>
    </pre>
</body>
</html>